@model IEnumerable<CapaNegocio.Entities.PLAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARRERA.CAR_CODIGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLA_CODIGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLA_NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CARRERA.CAR_CODIGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLA_CODIGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLA_NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PLA_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PLA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PLA_ID })
        </td>
    </tr>
}

</table>
