@model CapaNegocio.Entities.ESTUDIANTE

@{
    ViewBag.Title = "Details";
    Layout = null;
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EST_CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_FNACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_FNACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_PLAN_ESTUDIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_PLAN_ESTUDIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_TEL_DOMICILIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_TEL_DOMICILIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_TEL_CELULAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_TEL_CELULAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EST_DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EST_DIRECCION)
        </dd>

    </dl>
</div>